mixin header-banner()
    .header__bottom
        .header__banner
            .container
                .header__banner-inner
                    img.header__banner-img(src="images/main-banner/banner-image.png")
                    h2.header__banner-text Доставка бесплатно от 1000 ₽