mixin popup()
    .popup
        .popup__content
            .popup__content-top
                span.popup__content-exit &#x2715
            .popup__content-center
                h3.popup__title Вход

                .popup__inputs
                    label.label Телефон
                    input.input(placeholder="Введите номер телефона")

                button.btn-secondary.popup__btn Вход
            .popup__content-bottom